<mat-toolbar>
  <span>My first Meterial project</span>
  <span class="spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="">
    <mat-icon>share</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile>
    <img src = "https://upload.wikimedia.org/wikipedia/commons/7/73/Lion_waiting_in_Namibia.jpg" style = "background-size: cover;max-width: 100%;">
  </mat-grid-tile>
  <mat-grid-tile>    <img src = "https://upload.wikimedia.org/wikipedia/commons/7/73/Lion_waiting_in_Namibia.jpg" style = "background-size: cover;max-width: 100%;">
  </mat-grid-tile>
  <mat-grid-tile>    <img src = "https://upload.wikimedia.org/wikipedia/commons/7/73/Lion_waiting_in_Namibia.jpg" style = "background-size: cover;max-width: 100%;">
  </mat-grid-tile>
  <mat-grid-tile>    <img src = "https://upload.wikimedia.org/wikipedia/commons/7/73/Lion_waiting_in_Namibia.jpg" style = "background-size: cover;max-width: 100%;">
  </mat-grid-tile>
  <mat-grid-tile>    <img src = "https://upload.wikimedia.org/wikipedia/commons/7/73/Lion_waiting_in_Namibia.jpg" style = "background-size: cover;max-width: 100%;">
  </mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>

</mat-grid-list>
